{% extends 'base.html.twig' %}

{% block title %}Managers{% endblock %}
 
{% block body %}
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link" id="equipe_tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-equipe" aria-selected="false">Equipe</button>
            <button class="nav-link active" id="manager_tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-manager" aria-selected="true">Manager</button>
            <button class="nav-link" id="joueur_tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-joueur" aria-selected="false">Joueur</button>
            <button class="nav-link" data-bs-toggle="pill" type="button" id="accueil" role="tab" aria-controls="v-pills-joueur" aria-selected="false">Accueil</button>
        </div>
    </div>
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;
        }
        body{
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }
    </style>
    <div class="wrapper">
        <h1>MANAGERS</h1><br>
        <form id="form1" method="POST">
        <h2 id="stafmanager" style="color:red">Il reste <span id="nbmanager">5</span> managers à recruter</h2>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">NOM</th>
                <th scope="col">PRENOM</th>
                <th scope="col">ROLE</th>
                <th scope="col">SALAIRE</th>
                <th scope="col">SELECT</th>
            </tr>
            </thead>
            <tbody>
            {% for manager in managers %}
                <tr>
                <!-- si le manager n'est pas dans une equipe on l'affiche -->
                    {% if manager.getManagerEquipe() is null %}
                        <td>{{ manager.nom|upper }}</td>
                        <td>{{ manager.prenom|upper }}</td>
                        <td>{{ manager.role|upper }}</td>
                        <td>{{ manager.salaire|upper }}</td>
                        <td><input class="managercheck" type="checkbox" name="manager" value="{{ manager.id }}"></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button id='btn_managers' style='display:none'>Recruter Manager</button>
        </form>
    </div>
    <script>
        const managers = document.getElementsByClassName("managercheck");
        const nbmanager = document.getElementById("nbmanager");
        const stafmanager = document.getElementById("stafmanager");
        const btnmanagers = document.getElementById("btn_managers");
        let maman = 2;
        //création de tableau vide pour ajouter les managers sélectionnés
        let equipeManagers = [];
        //boucle sur les checkbox pour vérifier celles checkés et ajouter dans le tableau correspondant l'id du manager attribuée comme valeur à l'input
        let countM = 5;
        for(let i = 0; i < managers.length; i++) {
            managers[i].addEventListener("change", function(){
                if(this.checked) {
                    equipeManagers.push(this.value);
                    countM--
                } else {
                    equipeManagers.pull(this.value);
                    countM++
                }
                nbmanager.innerHTML = countM;
                if(equipeManagers.length > 4) {
                    stafmanager.innerHTML = 'equipe de joueur complète';
                    stafmanager.style.color = 'limegreen';
                    btnmanagers.style.display = "block";
                    managers[i].style.display = "none";
                    postmanager()
                } else {
                    managers[i].style.display = "inline";
                    btnmanagers.style.display = "none";
                    stafmanager.style.color = 'red';
                }
            });
        };
        function postmanager() {
            //requète ajax pour envoyer les données du tableau manager au controller 
            $.ajax({
                type: 'POST',
                url: "/createEquipe/manager",
                data: {
                    'managers': equipeManagers
                },
                success: function(response) {
                    console.log("Les équipes ont été créé avec succès !");
                },
                error: function(error) {
                    console.error("Erreur lors de la création de l'équipe :", error);
                }
            });
        }
        btn_managers.addEventListener("click", postmanager());
    </script>
{% endblock %}
